@model MyApp.Models.ViewModels.ProductVM
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <div>
        <img src="@Model.Product.ImageUrl" width="150" height="200">
    </div>
    <div class="row p-2">
        <div class="col-8">
           @((Model.Product==null || Model.Product.Id==0)? "Create":"Update") Product 
        </div>
        <div class="col-4">
            <a asp-action="Index" asp-controller="Product" class="btn btn-primary"><i class="bi bi-backspace-reverse-fill"></i>&nbsp Back to List</a>
        </div>

    </div>
    <form method="post" asp-action="CreateUpdate" enctype="multipart/form-data">
       @* <input type="hidden" asp-for="Product.CategoryId" />*@
        <input type="hidden" asp-for="Product.Id" />
        <input type="hidden" asp-for="Product.ImageUrl" />
        <div class="form-group">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" required>
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" class="form-control"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" required>
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.ImageUrl"></label>
            <input type="file" id="ImageFile" name="file" class="form-select">

        </div>

        <div class="form-group">
            <label asp-for="Product.CategoryId">Category</label>
            <select  asp-for="Product.CategoryId" asp-items="Model.Categories" class="form-control" required>
                <option selected disabled>--Select category--</option>
            </select>
           
        </div>



       
        @if(Model.Product == null || Model.Product.Id == 0)
        {
            <button onclick="return ValidateEmpty" type="submit" class="btn btn-primary">Create</button>

        }
        else
        {
            <button type="submit" class="btn btn-primary">Update</button>
        }
    </form>


</div>

@*this scripts section helps to run clint side validation*@

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>

        
            tinymce.init({
                selector: 'textarea',
                plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ],
                ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
            });
  



        function ValidateEmpty() {
            if (document.getElementById('ImageFile').value=="")
            {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Upload Image!',
                   
                });
                return false;
            }
            return true;
        }
    </script>
}


